.item {
    background: $item-bg;
    border: 1px solid $item-border;
    margin-bottom: 1.4rem;
    padding: 1.4rem;
}

.item__message {
    color: #777777;
}

.item__status-message {
    color: #777777;
    font-style: italic;
    text-align: center;
    margin: 0;
}